
/*TITULO*/
.tituloContacto {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    color: rgb(255,183,0);
    font-size: 2.5rem;
    text-decoration-line: overline;
    padding-top: 4rem;
    padding-bottom: 2rem;
    display: flex;
    justify-content: center;
  }

.boton{
  background-color: rgb(255, 183, 0);
  color: white;
  padding: 1rem 1.5rem;
  font-size: 1.5rem;
  width: 10rem; 
  border: none;
}

.boton:hover{
  cursor: pointer;
  transition: 1s;
  font-weight: bolder;
  background-color:rgb(201, 2, 2);
}


.botonFlex{
  display: flex;
  justify-content: center;
}
/*CONTENEDOR CON TITULO, FORMULARIO Y BOTON*/
  .flexCont {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    gap: 10px;
    margin-top: 1rem;
    padding-left: 10rem;
    padding-right: 10rem;
  }
  
  /*ESTILO GENERAL DE MAIN*/
  #mainContacto {
    background-color: aliceblue;
    background-image: url(../../assets/imgKing/BosqueAzul\ \(4\).jpg); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    border-bottom: 2px solid black;
    padding-bottom: 2rem;
    border-top: 2px solid black;
    font-family: Arial, Helvetica, sans-serif;
  }

  .mb-3{
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
  }
  
 

 

