

/*FOOTER*/


.me{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: end;

   
}

.logoFooter img{
    width: 6rem;
    
}

.info{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;

}

.textoFooter{
    font-size: 0.8rem;
}

.contFooter{
    border-top: 2px solid black;
}

