

/*NAV*/
body{
    background-color: grey;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    background-color: beige;
    color: black;
    border-bottom: 2px solid;
    height: 7rem;
}

.navbar-brand{
color: rgb(139, 79, 0);
}

.navbar-toggler{
    color: grey;
}

.logo img{
    width: 10rem;
    padding-left: 1.2rem;    
}

.boton{
    background-color:rgb(248,249,250) ;
    color: rgb(110, 3, 3);
}

#buscar {
    background-color: rgb(248, 249, 250);
}
  
.me-auto a{
    text-decoration: none;
    list-style-type: none;
    color: black;
}
a:hover{
    color: rgb(110, 3, 3); 
    cursor: pointer;
    transition: 1s;
    font-weight: bolder;
}

