
.titulo {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    background-color: rgb(235, 235, 186);
    padding-top: 4rem;
    border-top: 1px solid rgb(210, 210, 210);
  }
  
.titulo h1 {
    font-family: "Spectral", serif;
    font-weight: 800;
    color: #212529;
    font-size: 2.5rem;
    text-decoration-line: overline;
}
  
.tarjetasFlex{
    border-bottom: 1px solid rgb(210,210,210);
    background-color:rgb(235, 235, 186);
    padding-bottom: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: stretch;
    gap: 20px;
 }
.card{
    margin-top: 30px;
    font-family: 'Spectral', serif;
    width: 18rem;
 }
.card-body{
    background-color: rgb(252, 249, 249);
    border-top: 1px solid rgb(210,210,210);
    text-overflow: ellipsis;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: space-between;
    justify-content: space-between;
    align-items: stretch;
 }
.card-title{
    font-weight: 600;
    font-size: 2rem;
    text-align: center;
 }
.card-img-top{
    height: 25rem;
 }

 .precio {
    font-weight: 700;
 }