/*CARRUSEL*/
.carousel-container {
  position: relative;
  overflow: hidden;
  padding-left:  8rem;
  padding-right: 8rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid black;
  
  background-image: url(../../assets/imgKing/BosqueAzul\ \(4\).jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  width: "60%";
  margin: "0 auto";
}

.contenedorCarru-inner {
  height: 500px;
}

.contenedorCarru-items {
  border-radius: 20%;
  margin: 8rem;
  padding: 10%;
}
