/*CARRUSEL*/
.carousel-container {
  position: relative;
  overflow: hidden;
  padding: 0 5rem;
  background-image: url(../../assets/imgKing/rojo22.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  width: "80%";
  margin: "0 auto";
}

.contenedorCarru-inner {
  height: 500px;
}

.contenedorCarru-items {
  border-radius: 20%;
  margin: 8rem;
  padding: 10%;
}
